.py-hero {
    padding: 115px 25px 99px 25px;
}

.py-hero h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75.84px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 52px;
}

.py-hero h3{

font-size: 40px;

line-height: 60px;


}


.px-gray-bar{
    padding: 0px 25px ;

}


.hero-back {
    background: var(--change-2, #2F2E41);

}

.outer-border {
    background-color: #444354;
    width: max-content;
    border-radius: 32px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
}




.inner-border {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: white;
    color: black;
    border-radius: 32px;
    padding: 5px 10px;
}
    




.Contact-btn {
    border: none;
    background: var(--Change, #E97636);
    border-radius: 32px;
}




.hero-image {
    height: 514.98px;
}

.my-gray-bar{
    margin-top: 120px ;
    margin-bottom: 122px;
}


.border-Right-gray{
    border-radius: 0 6px 6px 0;
    color: var(--Change, #E97636);
    border: 1px solid #FFFFFF
}

.border-Right-gray h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
   
.border-Right-gray p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
   
 
    

    

.border-Left-gray{
    border-radius: 6px 0px 0px 6px;
    color: var(--Change, #E97636);
    border: 1px solid #FFFFFF
    
}

.border-Left-gray h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
   
.border-Left-gray p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
    
 
    

    

.border-Mid-gray{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF
}


.border-Mid-gray h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
   
.border-Mid-gray p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}


.Hero-para {
    max-width: 64%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    margin-top: 24px;
    margin-bottom: 32px;

}

   
 
@media (max-width: 991px) {
.mt-992{
    margin-top: 30px;
}
.Hero-para {
    max-width: 100%;

}
 

}


    
    



@media (max-width: 425px) {
    .border-Mid-gray h2{
        font-size: 20px;
        line-height: 48px;
    }

       
    .border-Mid-gray p{
        font-size: 15px;
        line-height: 20px;
    }
 

     


    
.border-Left-gray h2{
    font-size: 20px;
    line-height: 48px;
}

   
.border-Left-gray p{
    font-size: 15px;
    line-height: 20px;
}
   
 



    

    

.border-Right-gray h2{
    font-size: 20px;

    line-height: 48px;
}
   
.border-Right-gray p{
    font-size: 15px;
    line-height: 20px;
}
   
.hero-image {
    height: 355.98px;
}


    

    

.my-gray-bar .p-4{
    padding: .5rem!important;
}

.py-hero h1 {
    font-size: 45px;
    line-height: 48.84px;
}

.px-gray-bar{
    padding: 0;
}

.py-hero h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
}

.py-hero {
    padding: 38px 25px 58px 25px;
}

.my-gray-bar {
    margin-top: 70px;
    margin-bottom: 70px;
}
     
        
  }
  